:root {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.main {
  background-color: rgba(255, 228, 196, 0.308);
}
.main-section {
  display: flex;
  margin: auto;

  min-width: 300px;
  width: 98%;
  max-width: 500px;
}
.main-article {
  display: flex;
  flex-direction: column;

  width: 48%;

  padding: 1em 1em;
  margin: 1em 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.603);
  border-radius: 15px;

  background-color: white;
}
.icon {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  position: relative;
}

.icon-green {
  background-color: green;
  border: 1px solid green;
}
.icon-red {
  background-color: red;
  border: 1px solid red;
}

.icon-img {
  width: 25px;
  height: 25px;

  position: absolute;
  top: 15%;
  left: 15%;
}

.author {
  line-height: 0;
  text-align: right;

  font-size: 12px;
  font-weight: 900;
}

.name-green {
  margin-top: auto;

  color: green;
}
.name-red {
  margin-top: auto;

  color: red;
}
.author-prof {
  font-size: 12px;

  white-space: nowrap;
  font-weight: 900;
}
.author-bluecore,
.author-auth {
  padding-top: 15px;

  position: relative;

  font-size: 14px;
  font-weight: 1000;
}

.author-auth::before {
  content: url(./assets/images/lightning-bolt-circle.svg);
  display: inline-block;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 5px;
  right: 35px;
}
